@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f5f5f5;

    /*@media (prefers-color-scheme: dark) {*/
    /*    background-color: #1a202c;*/
    /*    color: #fff;*/
    /*}*/

    pre {
        padding: 25px;
        border-radius: 15px;
        font-size: 14px;
        span {
            white-space: pre-wrap;
        }
    }
}
